<div class = "container-parent"> 

  <div class = "main">
    <div class = "m-item1"><p>profile 2</p></div>
    <div class = "m-item2"><p>profile 2</p></div>
    <div class = "m-item3"><p>profile 2</p></div>
    <div class = "m-item4"><p>profile 2</p></div>
    <div class = "m-item5"><p>profile 2</p></div>
    <div class = "m-item6"><p>profile 2</p></div>
    <div class = "m-item7"><p>profile 2</p></div>
    <div class = "m-item8"><p>profile 2</p></div>
    <div class = "m-item9"><p>profile 2</p></div>
    
  </div>
  
  <div class = "right-column">
    <div class= "r-item1"><p>profile 2</p></div>
    <div class= "r-item2"><p>profile 2</p></div>
    <div class= "r-item3"><p>profile 2</p></div>
    
  </div>  
  

</div>