Education index... 


<!-- Button trigger modal -->
 <div class="new_ed_btn">
    <%= link_to "New Education", new_education_path, remote: true, class: "btn btn-primary" %>
  </div>
 
 
 
 <div class="edit_ed_btn">
    <%= link_to 'Edit education', edit_education_path(current_user), remote: true, class:'btn btn-default' %>
  </div> 
 
<%= render "ed_modal" %>
